/* Main Stylesheet */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gelasio', serif;
}

.headerDesc {
  font-size: 3em;
  text-align: right !important;
  justify-self: left;
}

.highlight {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.highlight::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 59%;
  top: 15px;
  left: -5px;
  background: rgba(247, 239, 19, 0.623);
  transform: skewX(-15deg);
  z-index: -1;
}

#camName {
  color: rgb(26, 26, 26);
  font-size: 6em;
  font-weight: 900;
  grid-area: name;
  justify-self: left;
  line-height: 1em;
  text-align: right;
  text-shadow: 2px 2px 2px white;
  z-index: 5;
}

#camPortrait {
  grid-area: outline;
  height: 100%;
  justify-self: right;
  z-index: 2;
}

#camOutline {
  grid-area: outline;
  height: 100%;
  justify-self: right;
}

#headerDescList {
  align-self: flex-start;
  color: rgb(26, 26, 26);
  grid-area: desc;
  justify-self: left;
  list-style-type: none;
  padding-left: 55.65px;
}

#headerGrid {
  align-items: center;
  bottom: 0;
  display: grid;
  grid-template-areas:
  'unused3 unused3'
  'outline name'
  'outline name'
  'outline unused5'
  'outline desc'
  'outline desc'
  'outline desc'
  'unused4 unused4';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr repeat(6, 13vh) 1fr;
  height: 100vh;
  justify-items: center;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#Venusaur {
  filter: grayscale(100%);
  grid-area: center;
  max-width: 1200px;
  text-align: center;
  width: 35%;
}

#VenusaurOutline {
  grid-area: center;
  width: 37%;
}

#VenusaurWrapper {
  align-items: center;
  display: grid;
  grid-template-areas: 'center';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  justify-items: center;
  width: 100%;
}

#wallpaperWrapper {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#wallpaperWrapper img {
  height: 100%;
  width: 100%;
}

#workContent {
  align-self: flex-start;
  margin-top: -20px;
}

#workSection {
  color: rgb(26, 26, 26);
}

#workSection h2 {
  font-size: 3.5em;
  text-align: center;
}

#workSection h3 {
  font-size: 2.5em;
  text-align: left;
  margin-top: 40px;
}

#workSection p {
  font-size: 1.3em;
  text-decoration: underline;
}

#workSection li {
  font-size: 1.1em;
}

#workTitle {
  display: inline-block;
  position: relative;
  z-index: 1;
}

#workTitle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 59%;
  top: 20px;
  left: -10px;
  background: rgba(247, 239, 19, 0.623);
  transform: skewX(-15deg);
  z-index: -1;
}

#workWrapper {
  align-items: center;
  display: grid;
  grid-template-areas:
  'title'
  'workExperience';
  grid-template-columns: 1fr;
  grid-template-rows: 150px 1fr;
  height: 100vh;
  justify-items: center;
  left: -30%;
  margin-left: 50%;
  position: absolute;
  top: 0;
  width: 60%;
  z-index: 2;
}

/*
@media only screen and (max-width: 1199px) {
  .headerDesc {
    font-size: 2.5em;
  }

  #camName {
    font-size: 5em;
    line-height: 0.9em;
  }

  #headerDescList {
    padding-left: 46.39px;
  }
}

@media only screen and (max-width: 800px) {
  .headerDesc {
    font-size: 2em;
  }

  #camName {
    font-size: 4em;
    line-height: 0.9em;
    margin-top: 40px;
  }
  
  #camPortrait,
  #camOutline {
    height: 90%;
  }

  #headerDescList {
    margin-top: -50px;
    padding-left: 37.11px;
  }
}

@media only screen and (max-width: 675px) {
  .headerDesc {
    font-size: 1.7em;
  }

  #camName {
    font-size: 3.2em;
    line-height: 0.9em;
    margin-top: 120px;
  }
  
  #camPortrait,
  #camOutline {
    height: 70%;
  }

  #headerDescList {
    margin-top: -20px;
    padding-left: 17.97px;
  }
}

@media only screen and (max-width: 550px) {
  .headerDesc {
    font-size: 1.5em;
    margin-left: -15px;
  }

  #camName {
    font-size: 2.7em;
    line-height: 0.9em;
    margin-left: -15px;
    margin-top: 170px;
  }
  
  #camPortrait,
  #camOutline {
    height: 60%;
  }

  #headerDescList {
    margin-top: -20px;
    padding-left: 7.47px;
  }
}
*/